body {
    color: #eee;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    zoom: 1.0;
    background: #000 url(/assets/0277.jpg) center center / cover;
}

@media only screen and (max-width: 1060px) {
    body {
        height: auto !important;
    }
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.app {
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: #1e1e1ed8;
    border-radius: 12px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    outline: none;
}

.app img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.app p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.app:hover,
.app:focus {
    background-color: #1e1e1e;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}